#figure-container {
  gap: 12px;
  overflow-x: auto;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;
  scroll-padding-left: 0;
}
#figure-container figure:first-child {
  scroll-snap-align: start;
}
.figmage {
  width: 100%;
  position: relative;
}

#figure-container figure {
    position: relative;
    z-index: 2;
    flex: 0 0 auto;
    width: 120px;
}
.greater {
  padding: 10px;
  border-radius: 6%;
}
.cps a {
  text-decoration: none;
  color: black;
  font-size: 13px;
}
#figure-container::-webkit-scrollbar {
  height: 1px;
}
#figure-container::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
#figure-container::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.4);
  border-radius: 10px;
}
#commendations{
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.book img{
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}
@media (max-width: 992px){
    #commendations{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 576px){
    #commendations{
        grid-template-columns: 1fr;
    }
}